.vscode/**
out/**
node_modules/**
src/**
public/index.html
**/.eslintrc.json
.gitignore
.prettierignore
.yarnrc
postcss.config.js
prettier.config.js
tailwind.config.js
tsconfig.extension.json
tsconfig.json
vsc-extension-quickstart.md
webpack.config.js
**/*.map
**/*.ts
yarn.lock
